<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rakesh Soni | Home</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link rel="stylesheet" href="../static/styles/projects.css">
  </head>
  <body>
    <!-- Navbar -->
    <header class="header">
      <nav>
        <div class="logo">
          <span>Rakesh Soni</span>
        </div>
        <div class="links">
          <div><a class="nav-link" href="/">Home</a></div>
          <div><a class="nav-link" href="./skills.html">Skills</a></div>
          <div><a class="nav-link link-active" href="#">Projects</a></div>
          <div><a class="nav-button" href="#">Contact Me</a></div>
        </div>
        <div class="hams"><img src="../static/icons/hams.svg" /></div>
        <div class="close"><img src="../static/icons/close.svg" /></div>
      </nav>
    </header>

    <div class="rest-code-to-indent">
      <!-- Project Section -->
      <section class="project-section">
        <h2>My Projects</h2>
        <div class="projects-wrapper">
          <a class="project-card" href="#">
            <div class="project-cat-img">
              <div class="project-cat">E-commerce</div>
              <div><img src="../static/imgs/project-1.jpg" alt="E-commerce"></div>
            </div>
            <div class="project-output">Web Development</div>
            <div class="prj-desc">The e-commerce website for user to take products and cart the items to purchase and make payment.</div>
            <div class="start-date">
              <div>Start Date</div>
              <div>21 Jun, 2022</div>
            </div>
            <div class="prj-status">
              <div>Status</div>
              <div class="done">Completed</div>
            </div>
            <div class="project-tech">
              <div>Technology</div>
              <div>MERN</div>
            </div>
          </a>
          <a class="project-card" href="#">
            <div class="project-cat-img">
              <div class="project-cat">Logistics</div>
              <div><img src="../static/imgs/project-2.jpg" alt="Logistics"></div>
            </div>
            <div class="project-output">UI/UX Design</div>
            <div class="prj-desc">With a community to deliver the product choosen and prefered within the required time is the deal.</div>
            <div class="start-date">
              <div>Start Date</div>
              <div>18 Mar, 2022</div>
            </div>
            <div class="prj-status">
              <div>Status</div>
              <div class="run">Running</div>
            </div>
            <div class="project-tech">
              <div>Technology</div>
              <div>Design</div>
            </div>
          </a>
          <a class="project-card" href="#">
            <div class="project-cat-img">
              <div class="project-cat">Chessboard</div>
              <div><img src="../static/imgs/project-3.jpg" alt="Chessboard"></div>
            </div>
            <div class="project-output">N Queens Problem</div>
            <div class="prj-desc">Backtracking algorithm for arranging the queens on chessboard so that no queens attack each other.</div>
            <div class="start-date">
              <div>Start Date</div>
              <div>09 Feb, 2022</div>
            </div>
            <div class="prj-status">
              <div>Status</div>
              <div class="done">Completed</div>
            </div>
            <div class="project-tech">
              <div>Technology</div>
              <div>Backtracking</div>
            </div>
          </a>
          <a class="project-card" href="#">
            <div class="project-cat-img">
              <div class="project-cat">Quantum_Mech</div>
              <div><img src="../static/imgs/project-4.jpg" alt="Quantum_Mech"></div>
            </div>
            <div class="project-output">Research Paper</div>
            <div class="prj-desc">How quantum can be a futuristic approach to travel with the spped of life and reach to moon soon.</div>
            <div class="start-date">
              <div>Start Date</div>
              <div>12 Dec, 2021</div>
            </div>
            <div class="prj-status">
              <div>Status</div>
              <div class="run">Running</div>
            </div>
            <div class="project-tech">
              <div>Technology</div>
              <div>Physics</div>
            </div>
          </a>
          <a class="project-card" href="#">
            <div class="project-cat-img">
              <div class="project-cat">Metacommerce</div>
              <div><img src="../static/imgs/project-5.jpg" alt="Metacommerce"></div>
            </div>
            <div class="project-output">Metaverse</div>
            <div class="prj-desc">A physical Handset system with VR facility to visit shopping mall and purchase items by sitting at home.</div>
            <div class="start-date">
              <div>Start Date</div>
              <div>21 Jun, 2022</div>
            </div>
            <div class="prj-status">
              <div>Status</div>
              <div class="done">Completed</div>
            </div>
            <div class="project-tech">
              <div>Technology</div>
              <div>AR/VR</div>
            </div>
          </a>
          <a class="project-card" href="#">
            <div class="project-cat-img">
              <div class="project-cat">E-commerce</div>
              <div><img src="../static/imgs/project-6.jpg" alt="E-commerce"></div>
            </div>
            <div class="project-output">Web Development</div>
            <div class="prj-desc">The e-commerce website for user to take products and cart the items to purchase and make payment.</div>
            <div class="start-date">
              <div>Start Date</div>
              <div>10 May, 2021</div>
            </div>
            <div class="prj-status">
              <div>Status</div>
              <div class="run">Running</div>
            </div>
            <div class="project-tech">
              <div>Technology</div>
              <div>MERN</div>
            </div>
          </a>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="foot-content">Copyright @Rakesh Soni</div>
    </footer>

    <script src="../static/scripts/script.js"></script>
  </body>
</html>
