.work-experience{
  margin-top: 100px;
}

.exp-date {
  display: flex;
}

.exp-date > div:first-child {
  margin-right: 8px;
}

.date-exp-show > span {
  font-weight: 500;
  font-size: 14px;
}

@media(max-width: 624px) {
  .exp-date > div:first-child > img {
    width: 14px;
    height: 14px;
  }
  .date-exp-show > span {
    font-size: 12px;
  }
}